.Home {
    .testTarget {
        color: rgb(167, 50, 50);
    }
    border: 5px solid rgb(0, 255, 13);
    margin: auto;
}

.CandyDisplayDiv {
    border: 5px solid green;
    margin: auto;
    width: 50%;
    text-align: center;
}